package main

import "net/http"
import "errors"

func my_Index(w http.ResponseWriter, req *http.Request) {
	if req.URL.Path != "/" {
		ErrorMsg(errors.New("url not found: "+req.URL.Path)).Render(req.Context(), w)
		return
	}
	T_Index().Render(req.Context(), w)
}

templ T_Index() {
	@my_Base_Nav() {
		<h1>hi 4</h1>
	}
}
