package pages

import "net/http"

func PatientLists(w http.ResponseWriter, req *http.Request) {
	T_PatientLists().Render(req.Context(), w)
}

templ T_PatientLists() {
	@Base_Nav() {
		<h1>PatientLists</h1>
	}
}
