package pages

import "net/http"
import "fmt"

func RegisterPatient(w http.ResponseWriter, req *http.Request) {
	fmt.Println("hello")
	T_RegisterPatient().Render(req.Context(), w)
}

templ T_RegisterPatient() {
	@Base_Nav() {
		<h1>register patient</h1>
	}
}
