package pages

import "net/http"

func Settings(w http.ResponseWriter, req *http.Request) {
	T_Settings().Render(req.Context(), w)
}

templ T_Settings() {
	@Base_Nav() {
		<h1>Settings</h1>
	}
}
